main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main h2 {
    grid-column: 1/ -1;
    margin-left: 2vw;
    font-size: clamp(1px, 2rem, 9999px);
}

.main-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.navigation-button {
    display: flex;
    width: 75%;
    margin: 1vh 2vw 2vh 1vw;
    height: 10vh;
    align-items: center;
    background-color: #4a5d74;
    position: relative;
    cursor: pointer;
    outline: 2px solid #000000;
    border: 2px solid #a7a7a7;
    border-radius: 6px;
}

.navigation-button:hover {
    filter: brightness(75%);
    outline: none;
}

.notification-div {
    position: relative;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-div img {
    width: 100%;
    height: auto;
    display: block;
}

.update-count {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.navigation-button>span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(1px, 2rem, 9999px);
    color: white;
}

.navigation-button>img {
    width: auto;
    height: 100%;
    margin-left: auto;
    align-self: center;
}

.update-count {
    color: white;
}

#statistic-graph {
    width: 80%;
    margin: 0 auto;
}

#logout-btn {
    width: 10vw;
    height: 6vh;
    margin: auto 0 2vh 1vw;
    background-color: red;
    outline: 3px solid black;
    border-radius: 6px;
    font-size: clamp(1px, 1.2rem, 9999px);
    color: white;
    filter: brightness(50%);
    cursor: pointer;
}

#logout-btn:hover {
    filter: none;
}

aside {
    background-color: #c8c8c8;
    overflow-y: scroll;
}

aside h3 {
    text-align: center;
    font-size: clamp(1px, 1.6rem, 9999px);
}

.current-event {
    margin: 1vh 1vw;
    border-bottom: 1px solid #4a5d74;
    cursor: pointer;
}

details summary {
  list-style: none;
}

details[open] .read-more {
    display: none;
}

