#main-header {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: hsl(202, 100%, 50%);
    top: 0;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
}
#title {
    font-family: Arial, Helvetica, sans-serif;
}

#body {
    justify-content: center;
    align-items: center;
    position: center;
    flex-direction: column;
}

#login-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50 vw;
    max-width: 50vw;
    height: auto;
    position: center;
    color: #13322C;
    margin-top: 10vh;
    background-color:beige;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.login-class {
    margin-top: 1vh;
}