#main-header {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: hsl(202, 100%, 50%);
    top: 0;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
}
#title {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#login-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30vw;
    max-width: 50vw;
    height: auto;
    color: #13322C;
    margin-top: 10vh;
    background-color:beige;
    padding-top: 2vh;
    padding-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
}
.login-class {
    margin-top: 1vh;
}