@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

body {
    background-image: url('../images/background.png');
}

.content {
    grid-template-columns: 2fr 1fr;
    background-color: #ebebeb;
    margin: 5vh auto 2vh auto;
    width: 80%;
    border-radius: 6px;
}

main {
    position: relative;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;

    --x: 0%;
    --y: 0%;

    background: radial-gradient(
        circle at var(--x) var(--y),
        #ff933a,
        #4a0ab9 75%,
        #0b026c 100%
    );

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.hero-wrapper {
    position: relative;

    width: min(35vw, 70vh);
    max-height: 60vh;

    aspect-ratio: 0.866 / 1;

    margin: 0 auto;
}

.hero {
    position: absolute;
    inset: 0;

    --x: 0%;
    --y: 0%;

    background: radial-gradient(
        circle at var(--x) var(--y),
        #0b026c,
        #4a0ab9 45%,
        #ff933a 80%
    );

    -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='black' fill-rule='evenodd' d='M50 0 L93 25 L93 75 L50 100 L7 75 L7 25 Z M50 7 L87 28 L87 72 L50 93 L13 72 L13 28 Z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='black' fill-rule='evenodd' d='M50 0 L93 25 L93 75 L50 100 L7 75 L7 25 Z M50 7 L87 28 L87 72 L50 93 L13 72 L13 28 Z'/%3E%3C/svg%3E");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

#hexagon {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#letters {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%); 

    width: 70%;
    height: auto;

    z-index: 2;
    pointer-events: none;
}

#hero-text {
    position: static;
    text-align: center;
}

#hero-text h2 {
    color: white;
    font-size: clamp(1rem, 2vw, 30px);
}

#hero-text h3 {
    color: #ababab;
}

aside {
    display: flex;
    flex-direction: column;
}

#greeting-div {
    margin: 16vh auto auto 4vw;
    height: 12vh;
    display: flex;
    border-left: solid 2px rgba(50,50,50,0.5);
    padding: 0vh 1vw;
    overflow: hidden;
}
#greeting-animation-wrapper {
    display: flex;
    align-items: center;

    transform: translateX(-100%);
    animation: slideIn 0.75s ease-out forwards;
}

#greeting-div h1 {
    width: 10vw;
    margin: auto 0;
}

#greeting-div img {
    height: 80%;
    margin: auto auto auto 0;
}

#login-div {
    margin: 10vh auto auto auto;
    width: 70%;
}

#login-div,
#login-div form {
    display: flex;
    flex-direction: column;
}

#login-div h2 {
    text-align: center;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background: white;
    height: 4vh;
    margin-top: 3vh;
    cursor: text;
}

.input-wrapper:focus-within {
    border: 1px solid #0b026c;
    outline: 3px solid #0b026c;
}

.input-wrapper img {
    width: auto;
    flex-shrink: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 100%;
}

.login-input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: clamp(1px, 1rem, 9999px);
    background: transparent;
}

#forgot-pwd {
    display: block;
    text-align: right;
    color: gray;
    text-decoration: none;
    margin-top: 0.5vh;
}

#login-btn {
    margin: 4vh auto;
    width: 10vw;
    height: 6vh;
    font-size: clamp(1px, 1.8rem, 9999px);
    background-color: #0b026c;
    color: white;
    border-radius: 6px;
    outline: 2px solid black;
}

#login-btn:hover {
    outline: none;
    filter: brightness(75%);
}

#login-error-msg {
    margin: auto;
}