@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

main, aside {
    min-height: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.fullscreen {
    grid-column: 1 / -1;
}

#welcome-div {
    grid-column: 1/ -1;
    overflow: hidden;
    border-left: solid 2px rgba(50,50,50,0.5);
    margin: 1vh auto auto 3vw;
    height: fit-content;
}

#welcome-div h2 {
    margin-left: 1vw;
    font-size: clamp(1px, 3rem, 9999px);
    transform: translateX(-100%);
    animation: slideIn 0.75s ease-out forwards;
}

.main-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#navigation-buttons {
    width: 100%;
}

.navigation-button {
    display: flex;
    width: 60%;
    margin: 1vh auto 2vh 3vw;
    height: 10vh;
    align-items: center;
    background-color: white;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
    border: 2px solid #a7a7a7;
    border-radius: 8px;
}

.navigation-button>span {
    font-weight: bold;
    font-size: clamp(1px, 1.5rem, 9999px);
}

.navigation-button:hover {
    filter: brightness(85%);
    outline: #0b026c 2px solid;
}

.button-icon {
    width: auto;
    height: 75%;
    margin-right: auto;
    margin-left: 1vw;
    align-self: center;
}

.button-arrow {
    width: auto;
    height: 50%;
    margin-left: auto;
    margin-right: 1vw;
    align-self: center;   
}

.update-count {
    color: white;
}

#statistic-graph {
    width: 80%;
    margin: 0 auto;
}

#logout-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 10vw;
    height: 6vh;
    margin: auto auto 2vh 1vw;
    background-color: red;
    outline: 3px solid black;
    border-radius: 6px;
    font-size: clamp(1px, 1.2rem, 9999px);
    color: white;
    filter: brightness(50%);
    padding-right: 1vw;
}

#logout-btn:hover {
    filter: none;
}

#logout-btn img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
    margin: auto auto auto 1vw;
}

#open-aside-btn,
#minimize-btn {
    height: 5vh;
    width: 4vw;
}

#open-aside-btn {
    margin: auto 1vw 2vh auto;
}

aside {
    background-color: #FFFFFF;
    box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.55);
    border-radius: 6px;
}

aside h3 {
    text-align: center;
    font-size: clamp(1px, 1.6rem, 9999px);
}

#current-events {
    overflow-y: scroll;
}

.current-event {
    margin: 1vh 1vw;
    border-bottom: 1px solid #4a5d74;
    cursor: default;
}

summary {
    cursor: pointer;
    padding-bottom: 0.5vh;
}

summary:hover .read-more {
    text-decoration: underline;
}

details summary {
  list-style: none;
}

details[open] .read-more {
    display: none;
}

#minimize-btn-div {
    padding-top: 1vh;
    display: flex;
    margin-top: auto;
}

#minimize-btn {
    
}

